/* topicPath */
div.topicPath {
	padding: 6px 0;
	width: 550px;
	margin-left: 10px;
}
div.topicPath ul li {
	float:left;
	padding-right: 5px;
	line-height: 1.5em;
}
div.topicPath ul li a {
	padding-right: 15px;
	background:url(http://img.poke.co.jp/images/common/topic_path.gif) no-repeat right center;
}
a.button {
	display: block;
	font-size: 1%;
	line-height: normal;
	overflow: hidden;
	text-indent: -9999px;
}
/* ttlHeader */
.ttlHeader {
	border-top: 2px solid #8fc323;
	border-bottom: 2px solid #8fc323;
	padding: 2px 0;
	margin-bottom: 10px;
	width: 100%;
}
.ttlHeader table {
	width: 625px;
	height: 47px;
	padding: 0;
}
.ttlHeader table td {
	font-weight: bold;
	font-size: 120%;
	vertical-align: middle;
}
.ttlHeader table td.ttl {
	width: 132px;
	height: 47px;
	background: url(http://img.poke.co.jp/images/common/ttlBg.jpg) repeat-x #7daa1f;
	text-align: center;
}
.ttlHeader table td.desc {
	padding: 10px;
}
.ttlHeader table td.desc h1{
	font-weight: bold;
	font-size: 100%;
	vertical-align: middle;
}
div.totop {
	margin-top: 50px;
	position: relative;
}
div.totop a {
	position: absolute;
	background: url(http://img.poke.co.jp/images/common/button_totop.gif) no-repeat top left;
	width: 100px;
	height: 15px;
	right: 0;
}
table.info_table {
	margin-bottom: 10px;
	border-collapse: collapse;
	border-spacing: 0;
}
table.info_table tr td, table.info_table tr th {
	font-weight: bold;
	padding: 5px;
	line-height: 100%;
	border-left: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
}
table.info_table th {
	text-align: center;
	background-color: #F5F5F5;
	width: 60px;
	white-space: nowrap;
}
table.info_table th * {
	margin: auto;
}
table.info_table tr .inner {
	padding: 0;
	margin: 0;
}
table.info_table tr .inner table {
	height: 100%;
}
table.info_table tr .inner table * {
	border: none !important;
}
table.info_table .crnr {
	font-size: 0px;
	line-height:0;
	text-indent: -9999px;
	overflow: hidden;
	height: 4px;
	padding: 0;
	margin: 0;
}
table.info_table .height0 {
	height:0;
}
table.info_table .w_tl {
	background: url(http://img.poke.co.jp/images/common/corner/w_tl.gif) no-repeat top left;
}
table.info_table .w_tc {
	background: url(http://img.poke.co.jp/images/common/corner/w_tc.gif) no-repeat top center;
}
table.info_table .w_tr {
	background: url(http://img.poke.co.jp/images/common/corner/w_tr.gif) no-repeat top right;
}
table.info_table .w_bl {
	background: url(http://img.poke.co.jp/images/common/corner/w_bl.gif) no-repeat bottom left;
}
table.info_table .w_bc {
	background: url(http://img.poke.co.jp/images/common/corner/w_bc.gif) no-repeat bottom center;
}
table.info_table .w_br {
	background: url(http://img.poke.co.jp/images/common/corner/w_br.gif) no-repeat bottom right;
}
table.info_table .w_ml {
	background: url(http://img.poke.co.jp/images/common/corner/w_ml.gif) repeat-y left;
}
table.info_table .w_mr {
	background: url(http://img.poke.co.jp/images/common/corner/w_mr.gif) repeat-y right;
}
table.info_table .g_tl {
	background: url(http://img.poke.co.jp/images/common/corner/g_tl.gif) no-repeat top left;
}
table.info_table .g_tc {
	background: url(http://img.poke.co.jp/images/common/corner/g_tc.gif) no-repeat top center;
}
table.info_table .g_tr {
	background: url(http://img.poke.co.jp/images/common/corner/g_tr.gif) no-repeat top right;
}
table.info_table .g_bl {
	background: url(http://img.poke.co.jp/images/common/corner/g_bl.gif) no-repeat bottom left;
}
table.info_table .g_bc {
	background: url(http://img.poke.co.jp/images/common/corner/g_bc.gif) no-repeat bottom center;
}
table.info_table .g_br {
	background: url(http://img.poke.co.jp/images/common/corner/g_br.gif) no-repeat bottom right;
}
table.info_table .g_ml {
	background: url(http://img.poke.co.jp/images/common/corner/g_ml.gif) repeat-y left;
}
table.info_table .g_mr {
	background: url(http://img.poke.co.jp/images/common/corner/g_mr.gif) repeat-y right;
}
table.info_table .l_tl {
	background: url(http://img.poke.co.jp/images/common/corner/l_tl.gif) no-repeat top left;
}
table.info_table .l_tc {
	background: url(http://img.poke.co.jp/images/common/corner/l_tc.gif) no-repeat top center;
}
table.info_table .l_tr {
	background: url(http://img.poke.co.jp/images/common/corner/l_tr.gif) no-repeat top right;
}
table.info_table .l_bl {
	background: url(http://img.poke.co.jp/images/common/corner/l_bl.gif) no-repeat bottom left;
}
table.info_table .l_bc {
	background: url(http://img.poke.co.jp/images/common/corner/l_bc.gif) no-repeat bottom center;
}
table.info_table .l_br {
	background: url(http://img.poke.co.jp/images/common/corner/l_br.gif) no-repeat bottom right;
}
table.info_table .l_ml {
	background: url(http://img.poke.co.jp/images/common/corner/l_ml.gif) repeat-y left;
}
table.info_table .l_mr {
	background: url(http://img.poke.co.jp/images/common/corner/l_mr.gif) repeat-y right;
}
table.info_table .w_tl, table.info_table .g_tl, table.info_table .l_tl {
	border-top: none;
	border-bottom: none;
	border-left:none;
}
table.info_table .w_tr, table.info_table .g_tr, table.info_table .l_tr {
	border-top: none;
	border-bottom: none;
	border-right:none;
}
table.info_table .w_bl, table.info_table .g_bl, table.info_table .l_bl {
	border-top: none;
	border-bottom: none;
	border-left:none;
}
table.info_table .w_br, table.info_table .g_br, table.info_table .l_br {
	border-top: none;
	border-bottom: none;
	border-right:none;
}
table.info_table .w_tc, table.info_table .g_tc, table.info_table .l_tc {
	border-top:none;
}
table.info_table .w_bc, table.info_table .g_bc, table.info_table .l_bc {
	border-bottom:none;
}
table.info_table .w_ml, table.info_table .g_ml, table.info_table .l_ml {
	border-left:none;
}
table.info_table .w_mr, table.info_table .g_mr, table.info_table .l_mr {
	border-right:none;
}
/* リストテーブル */
table.list_table {
	font-size: 15px;
	line-height: 1;
	margin-bottom: 20px;
	width: 900px;
	border-collapse: collapse;
}
/* ヘッダ */
table.list_table thead th {
	margin: 0;
	padding: 0;
	height: 5px;
	border-top: none;
	border-right: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_green_top.jpg');
	background-repeat: no-repeat;
	background-position: top left;
}
table.list_table thead td {
	margin: 0;
	padding: 0;
	height: 5px;
	border-top: none;
	border-left: 1px dotted #CCCCCC;
	border-right: none;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_green_top.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}
table.list_table thead td.last {
	border-top: none;
	border-left: 1px dotted #CCCCCC;
	border-right: none;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_green_top.jpg');
	background-repeat: no-repeat;
	background-position: top right;
}
table.list_table thead th.single, table.list_table thead td.single {
	width: auto;
	border-left: none;
	border-right: none;
}
/* ボディ */
table.list_table tbody th {
	margin: 0;
	padding: 7px 17px 7px 25px;
	border-top: 1px dotted #CCCCCC;
	border-left: none;
	border-right: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_gray.jpg');
	background-repeat: repeat-y;
	background-position: top left;
	font-weight: normal;
}
table.list_table tbody tr.first th.single {
	border-top: 1px solid #CCCCCC;
	border-left: none;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-image: url('/images/inquiry/bg_field_green.jpg');
	font-weight: bold;
}
table.list_table tbody td {
	margin: 0;
	padding: 7px 20px;
	border-top: 1px dotted #CCCCCC;
	border-left: 1px dotted #CCCCCC;
	border-right: 1px dotted #CCCCCC;
	background-color: #FFFFFF;
	background-image: none;
	background-repeat: repeat-y;
	background-position: top right;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1.3em;
}
table.list_table tbody td.last {
	border-top: 1px dotted #CCCCCC;
	border-left: 1px dotted #CCCCCC;
	border-right: none;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_white.jpg');
	background-repeat: repeat-y;
	background-position: top right;
}
table.list_table tbody tr.first th, table.list_table tbody tr.first td {
	padding-top: 2px;
	border-top: none !important;
}
table.list_table tbody tr.last th, table.list_table tbody tr.last td {
	padding-bottom: 2px;
	border-bottom: none;
}
/* フッタ */
table.list_table tfoot th {
	margin: 0;
	padding: 0;
	height: 5px;
	border-top: none;
	border-right: 1px dotted #CCCCCC;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_gray_bottom.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
}
table.list_table tfoot td {
	margin: 0;
	padding: 0;
	height: 5px;
	border-top: none;
	border-left: 1px dotted #CCCCCC;
	border-right: 1px dotted #CCCCCC;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_white_bottom.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
}
table.list_table tfoot td.last {
	border-top: none;
	border-left: 1px dotted #CCCCCC;
	border-right: none;
	background-color: #FFFFFF;
	background-image: url('/images/inquiry/bg_field_white_bottom.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
}
table.list_table tfoot th.single, table.list_table tfoot td.single {
	width: auto;
	border-left: none;
	border-right: none;
}
/* 罫線無し */
table.list_table.borderless thead th, table.list_table.borderless thead td, table.list_table.borderless tbody th, table.list_table.borderless tbody td, table.list_table.borderless tfoot th, table.list_table.borderless tfoot td {
	border: none;
}
/* 色変更 - 緑色 */
table.list_table thead th.green, table.list_table thead td.green {
	background-image: url('/images/inquiry/bg_field_green_top.jpg');
}
table.list_table tbody th.green, table.list_table tbody td.green {
	background-image: url('/images/inquiry/bg_field_green.jpg');
}
table.list_table tfoot th.green, table.list_table tfoot td.green {
	background-image: url('/images/inquiry/bg_field_green_bottom.jpg');
}
/* 色変更 - 灰色 */
table.list_table thead th.gray, table.list_table thead td.gray {
	background-image: url('/images/inquiry/bg_field_gray_top.jpg');
}
table.list_table tbody th.gray, table.list_table tbody td.gray {
	background-image: url('/images/inquiry/bg_field_gray.jpg');
}
table.list_table tfoot th.gray, table.list_table tfoot td.gray {
	background-image: url('/images/inquiry/bg_field_gray_bottom.jpg');
}
/* 色変更 - 白色 */
table.list_table thead th.white, table.list_table thead td.white {
	background-image: url('/images/inquiry/bg_field_white_top.jpg');
}
table.list_table tbody th.white, table.list_table tbody td.white {
	background-image: url('/images/inquiry/bg_field_white.jpg');
}
table.list_table tfoot th.white, table.list_table tfoot td.white {
	background-image: url('/images/inquiry/bg_field_white_bottom.jpg');
}
/* シングルセル */
table.list_table thead th.single, table.list_table thead td.single, table.list_table tbody th.single, table.list_table tbody td.single, table.list_table tfoot th.single, table.list_table tfoot td.single {
	width: auto;
	border-left: none;
	border-right: none;
}
/*会社概要*/
#company_info {
}
#company_info table {
	width: 900px;
	margin-bottom: 5px;
}
#company_info table th {
	width: 140px;
}
#company_info table td.inner, #company_info table th {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 200%;
	vertical-align: top;
	text-align: left;
}
#company_info table th {
	padding-left: 60px;
}
/*プレスリリース*/
#prField {
	margin-top: 20px;
}
/*メディア掲載*/
#mediaField {
}
/* ttl */
h4.ttl {
	font-size: 1%;
	line-height: normal;
	overflow: hidden;
	text-indent: -9999px;
	width: 625px;
	height: 33px;
	margin-bottom: 10px;
}
h4.ttl.large {
	width: 900px;
}
h4#event_tour_list {
	background: url(http://img.poke.co.jp/images/common/ttl/event_tour_list.jpg) no-repeat top left;
}
h4#event_tour_schedule {
	background: url(http://img.poke.co.jp/images/common/ttl/event_tour_schedule.jpg) no-repeat top left;
}
h4#search_area {
	background: url(http://img.poke.co.jp/images/common/ttl/search_area.jpg) no-repeat top left;
}
h4#inquiry {
	background: url(http://img.poke.co.jp/images/common/ttl/inquiry.jpg) no-repeat top left;
}
h4#higaeri_taikenn_eventcal {
	background: url(http://img.poke.co.jp/images/common/ttl/higaeri_taikenn_eventcal.jpg) no-repeat top left;
}
h4#purpose {
	background: url(http://img.poke.co.jp/images/common/ttl/purpose.jpg) no-repeat top left;
}
h4#mailmag {
	background: url(http://img.poke.co.jp/images/common/ttl/mailmag.jpg) no-repeat top left;
}
h4#tokutyo {
	background: url(http://img.poke.co.jp/images/common/ttl/tokutyo.jpg) no-repeat top left;
}

h4#saiyou {
	background: url(http://img.poke.co.jp/images/common/ttl/saiyou.jpg) no-repeat top left;
}

h4#boshu {
	background: url(http://img.poke.co.jp/images/common/ttl/boshu.jpg) no-repeat top left;
}
h4#faq {
	background: url(http://img.poke.co.jp/images/common/ttl/faq.jpg) no-repeat top left;
}
#company h2{
	background: url(http://img.poke.co.jp/images/common/ttl/company.jpg) no-repeat top left;
}
#ryokogyo h2 {
	background: url(http://img.poke.co.jp/images/common/ttl/ryokogyo.jpg) no-repeat top left;
}
#privacy h2{
	background: url(http://img.poke.co.jp/images/common/ttl/privacy.jpg) no-repeat top left;
}
#pr h2{
	background: url(http://img.poke.co.jp/images/common/ttl/pr.jpg) no-repeat top left;
}
#media h2{
	background: url(http://img.poke.co.jp/images/common/ttl/media.jpg) no-repeat top left;
}
#copyright h2{
	background: url(http://img.poke.co.jp/images/common/ttl/copyright.jpg) no-repeat top left;
}
#sitemap h2{
	background: url(http://img.poke.co.jp/images/common/ttl/sitemap.jpg) no-repeat top left;
}
#howto h2{
	background: url(http://img.poke.co.jp/images/common/ttl/howto.jpg) no-repeat top left;
}
#tuuhan h2{
	background: url(http://img.poke.co.jp/images/common/ttl/tuuhan.jpg) no-repeat top left;
}
h2.ttl-long {
	font-size: 1%;
	line-height: normal;
	overflow: hidden;
	text-indent: -9999px;
	width: 900px;
	height: 33px;
	margin-bottom: 10px;
}
.messageField {
	margin-bottom: 20px;
}
.message {
	margin-bottom: 10px;
	padding: 0;
	background: url(http://img.poke.co.jp/images/book/bg_message.jpg) repeat-y top left;
}
.message .top {
	height:5px;
	line-height:5px;
	background: url(http://img.poke.co.jp/images/book/bg_message_top.jpg) no-repeat top left;
	overflow: hidden;
}
.message .body {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1em;
}
.message .body p {
	margin: 0;
	color: #000000;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
}
.message .bottom {
	height:5px;
	line-height:5px;
	background: url(http://img.poke.co.jp/images/book/bg_message_bottom.jpg) no-repeat top left;
	overflow: hidden;
}
.message.gray {
	background: url(http://img.poke.co.jp/images/book/bg_field_gray.jpg) repeat-y top left;
}
.message.gray .top {
	background: url(http://img.poke.co.jp/images/book/bg_field_gray_top.jpg) no-repeat top left;
}
.message.gray .bottom {
	background: url(http://img.poke.co.jp/images/book/bg_field_gray_bottom.jpg) no-repeat bottom left;
}
.doc {
	font-size:14px;
	line-height:1.4em;
}
#yakkan h2{
	background: url(http://img.poke.co.jp/images/common/ttl/yakkan.jpg) no-repeat top left;
}
#yakkan .doc .top {
	height:5px;
	line-height:5px;
	background: url(http://img.poke.co.jp/images/book/bg_field_green_top.jpg) no-repeat top left;
	overflow: hidden;
}
#yakkan .doc .body {
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
	padding: 5px 10px;
}
#yakkan .doc .body p {
	margin: 0;
	color: #000000;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
}
#yakkan .doc .bottom {
	height:5px;
	line-height:5px;
	background: url(http://img.poke.co.jp/images/book/bg_field_green_bottom.jpg) no-repeat top left;
	overflow: hidden;
}
#yakkan .doc h3 {
	margin-bottom: 10px;
	line-height:35px;
	font-size:14px;
	height:35px;
	padding-left: 10px;
	background: url(http://img.poke.co.jp/images/book/bg_field_green_all.gif) no-repeat top left;
}
#yakkan .doc h4 {
	border-bottom: 1px dotted;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0 0 10px;
	padding-bottom: 5px;
}
#privacy .doc h3 {
	border-bottom: 1px dotted;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0 0 10px;
	padding-bottom: 5px;
}
#copyright .doc h3 {
	border-bottom: 1px dotted;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0 0 10px;
	padding-bottom: 5px;
}
#privacy .doc .sign {
	padding-top:20px;
}
#privacy .doc .sign p{
	text-align:right;
}
.doc p {
	margin:15px 25px 15px 50px;
}
.doc p span.title {
	float: left;
	margin-left: -55px;
	text-align: right;
	width: 40px;
}
.doc div.list {
	margin-bottom:15px;
}
.doc div.list p {
	margin-top:0;
	margin-bottom:0px;
}
.doc div.nestlist p {
	margin:0 0 0 77px;
}
.doc table {
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	font-size: 12px;
	margin-left: 50px;
	margin-bottom:15px;
}
.doc table thead {
	background-color:#CCFF99;
}
.doc table td {
	padding:2px 10px;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.doc table td.center {
	text-align:center;
}
/*会社概要*/
.doc p.h_sub_copy {
	margin-bottom:0px;
	margin-left:0px;
	padding-left:50px;
	display:block;
}
.doc ol {
	margin-top:10px;
	margin-bottom:15px;
	display:block;
}
.doc li {
	margin-top:0;
	padding-left:50px;
	margin-bottom:0px;
}
.doc li span.title {
	float: left;
	margin-left: -55px;
	text-align: right;
	width: 40px;
}
.doc .nestlist h5 {
	height:35px;
	width:100%;
	padding-left:10px;
	line-height:35px;
	font-size:14px;
	margin-bottom: 10px;
	background:#ccff99 none;
}
#ryokogyo_info {
}
#ryokogyo_info table {
	width: 900px;
	margin-bottom: 5px;
}
#ryokogyo_info table th {
	width: 180px;
}
#ryokogyo_info table td.inner, #ryokogyo_info table th {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 200%;
	vertical-align: top;
	text-align: left;
}
#ryokogyo_info table th {
	padding-left: 20px;
}


/*サイトマップ*/
/*
#sitemapField {
	margin-top: 20px;
	line-height: 1.8em;
	letter-spacing: 1px;
}
#sitemapField .top-block {
	padding: 5px 5px;
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
}
#sitemapField .sitemap-table {
	margin-top: 30px;
	width: 100%;
	border-collapse: collapse;
	border: none;
}
#sitemapField .sitemap-table thead th {
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	vertical-align: top;
}
#sitemapField .sitemap-table tbody th {
	padding: 5px 0 5px 20px;
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
	vertical-align: top;
}
#sitemapField .sitemap-table tbody td {
	padding: 5px 0 5px 20px;
	border-bottom: 1px dotted #CCCCCC;
	vertical-align: top;
}
#sitemapField .sitemap-table tbody td a {
	margin-right: 0.6em;
}

*/
#sitemap {
	
}
#sitemap a {
	background-image:url(/common/img/ankerpointer.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:18px;
	text-align:left;
	line-height:1.2em;
}

#sitemap #page-list {
	width:760px;
	margin:20px auto 0;
}

#sitemap ul {
	padding:10px 0 0;
	background-image:url(/common/img/bg_sitemap_length.gif);
	background-repeat:repeat-y;
	background-position:0 bottom;
	line-height:150%;
	text-align:left;
}

#sitemap ul li {
	margin:0 0 0 5px;
	padding:0 0 0 125px;
	background-image:url(/common/img/bg_sitemap_breadth.gif);
	background-repeat:no-repeat;
	background-position:0 6px;
}

#sitemap ul li.last {
	background-image:url(/common/img/bg_sitemap_breadth_last.gif);
}

#sitemap ul li.child {
	background:none;
}

#sitemap ul li.child-last {
	background:#FFF;
}

*html #sitemap ul li.child ul,
*html #sitemap ul li.child-last ul {
	margin:-14px 0 0 0;
}
*:first-child+html #sitemap ul li.child ul,
*:first-child+html #sitemap ul li.child-last ul {
	margin:-14px 0 0 0;
}